html {
   min-height: 100%;
   position: relative;
}

body {
   margin: 0px;
   height: 100vh;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.margin-top-80 {
   margin-top: 80px;
}

.margin-top-90 {
   margin-top: 90px;
}

.margin-top-100 {
   margin-top: 100px;
}

.outerDiv {
   position: relative;
   max-width: 100%;
}

.outerDiv:after {
   content: '';
   display: block;
   padding-top: 100%;
}

.innerVideo {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   cursor: pointer;
}

.border {
   border-image-slice: 92 111 111 92;
   border-image-width: 30px;
   border-image-outset: 20px;
   border-style: solid;
   border-image-repeat: repeat repeat;
   border-image-source: url('./assets/border.jpg');
}
