html {
   min-height: 100%;
   position: relative;
}

body {
   margin: 0px;
   height: 100vh;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.margin-top-80 {
   margin-top: 80px;
}
